:root {
  --light: white;
  --dark: #414141;
  --grey: #eaeaee;
  --primary: #1470af;
  --secondary: #8eb6dc;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}
