---
const content = Astro.props;
---

<style>
    .section {
        background-color: var(--secondary);
        color: var(--light);
        padding: 6.4rem 0;
    }

    .heading {
        font-size: 3.6rem;
        font-weight: 700;
        letter-spacing: -1px;
        margin: 0;
        padding: 0 2rem;
        text-transform: uppercase;
    }

    .service__link {
        color: inherit;
        font-size: 1.8rem;
        font-weight: 500;
        text-decoration: none;
    }

    .service {
        border-bottom: var(--light) solid 1px;
        display: flex;
        justify-content: space-between;
        padding: 2.4rem 2rem;
    }

    @media screen and (min-width: 992px) {
        .section {
            padding: 12.8rem 0;
        }

        .heading {
            font-size: 7.2rem;
            padding: 0 8rem;
        }

        .service__link {
            font-size: 3.6rem;
        }

        .service {
            border-bottom: var(--light) solid 2px;
            padding: 4.8rem 8rem;
        }
    }
</style>

<section class="section">
    <h2 class="heading">{content.servicesTitle}</h2>
    {content.services.map(service => (
        <a href={service.serviceLink} class="service__link">
            <div class="service">
                <div>{service.serviceTitle}</div>
                <div>></div>
            </div>
        </a>
    ))}
</section>