<style>
    .section {
        background-color: var(--secondary);
        color: var(--light);
        padding: 6.4rem 0;
    }

    .heading {
        font-size: 3.6rem;
        font-weight: 700;
        letter-spacing: -1px;
        margin: 0;
        padding: 0 2rem;
        text-transform: uppercase;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .textInput, .emailInput {
        all: unset;
        border-bottom: white 1px solid;
        color: white;
        font-size: 1.8rem;
        padding: 2.4rem 2rem;
    }

    .textInput::placeholder, .emailInput::placeholder, .messageInput::placeholder {
        color: white;
    }

    .selectLabel {
        align-items: center;
        border-bottom: white 1px solid;
        display: flex;
        font-size: 1.8rem;
        justify-content: space-between;
        padding: 0 2rem;
        width: 100%;
    }

    .selectLabel > span {
        transform: rotate(90deg);
    }

    .selectInput {
        all: unset;
        color: white;
        cursor: pointer;
        font-size: 1.8rem;
        padding: 2.4rem 0;
        width: 100%;
    }

    .messageInput {
        all: unset;
        border-bottom: white 1px solid;
        color: white;
        font-size: 1.8rem;
        padding: 2.4rem 2rem;
    }

    .button {
        background: none;
        border: none;
        border-bottom: white 1px solid;
        color: white;
        display: flex;
        font-size: 1.8rem;
        justify-content: space-between;
        padding: 2.4rem 2rem;
    }

    @media screen and (min-width: 992px) {
        .section {
            padding: 12.8rem 0;
        }

        .heading {
            font-size: 7.2rem;
            padding: 0 8rem;
        }

        .textInput, .emailInput, .messageInput, .button {
            font-size: 3.6rem;
            padding: 4.8rem 8rem;
        }

        .selectLabel {
            font-size: 3.6rem;
            padding: 4.8rem 8rem;
        }

        .selectInput {
            font-size: 3.6rem;
        }
    }
</style>

<section class="section">
    <h2 class="heading">Hire me</h2>
    <form action="https://formspree.io/f/xrgjleqg" method="POST" class="form">
        <input type="text" name="name" class="textInput" placeholder="Name" required>
        <input type="email" name="email" class="emailInput" placeholder="Email" required>
        <label class="selectLabel">
            <select name="services" class="selectInput" placeholder="Service(s)" required>
                <option disabled selected>Interested in:</option>
                <option>Jamstack Website Development</option>
                <option>WordPress Website Development</option>
                <option>Web App Development</option>
            </select>
            <span>></span>
        </label>
        <textarea name="message" class="messageInput" placeholder="Message" required></textarea>
        <button type="submit" class="button"><span>Submit</span><span>></span></button>
    </form>
</section>
